<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>GiftTOWife.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>1878DDD11CB3BEBE00F4B1A3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1878DDEA1CB3BEBE00F4B1A3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1878DDF51CB3BEBE00F4B1A3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
